{% extends 'products/basics.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <main>
       <div class="category_delete">
       <div class="h1">Уверены, что хотите удалить?</div>
       {% include 'orders/order_summary.html' %}
       <form action="{% url 'orders:delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'orders:index' %}">отмена</a>
       </button>
   </div>
    </main>
{% endblock %}